<header id="header" [ngClass]='{"header-fixed":currentHeight > 80 && currentWidth > 991,"header-responsive":isShow }'>

    <div class="header-bg" [ngClass]='{"header-project":content =="project"}'>
        <canvas id="pixie"></canvas>
    </div>
    <nav class="nav-content navbar navbar-expand-lg  ">
        <a (click)="content = 'home'" class="navbar-brand"  routerLink=''>RESUME</a>
        <div (click)="isShow = !isShow"  class="btn-show d-lg-none">
           <span>MENU</span>
        </div>
        <div class=" navbar-collapse nav-menu  " [ngClass]="{'show':isShow}" id="collapsibleNavId">
            <ul class="navbar-menu navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active" [ngClass]='{"active":content == "home"}' (click)="content = 'home'">
                    <a class="nav-link"     routerLink=''>HOME</a>
                    <span class="border-nav"></span>
                </li>
                <li class="nav-item" [ngClass]='{"active":content == "about"}' (click)="content = 'about'">
                    <a class="nav-link" href="#slider">ABOUT</a>
                    <span class="border-nav"></span>
                </li>
                <li class="nav-item" [ngClass]='{"active":content == "skills"}' (click)="content = 'skills'">
                    <a class="nav-link" href="#skills">SKILLS</a>
                    <span class="border-nav"></span>
                </li>
                <li class="nav-item" [ngClass]='{"active":content == "exp"}' (click)="content = 'exp'">
                    <a class="nav-link" href="#exp-edu">EXPERIENCES</a>
                    <span class="border-nav"></span>
                </li>
                <li class="nav-item" [ngClass]='{"active":content == "project"}' (click)="content = 'project'">
                    <a pageScroll href="#header" class="nav-link" routerLink='/project'>PROJECTS  <i class="fas fa-sort-down"></i></a>
                   
                    <span class="border-nav"></span>
                    <div class="project-list " [ngClass]='{"content":currentWidth >991}'>
                        <li routerLink='/project/{{item.code}}' *ngFor='let item of projectList' class="item">
                            {{item.title}}
                        </li>
                    </div>
                </li>
                <li class="nav-item" [ngClass]='{"active":content == "contact"}' (click)="content = 'contact'">
                    <a class="nav-link" href="#contact">CONTACT</a>
                    <span class="border-nav"></span>
                </li>
            </ul>
            <div class="btn-close d-lg-none" (click)="isShow = false">
                <i  class="fas fa-times"></i>
            </div>
        </div>
    </nav>
</header>