@import "../contact/contact-form/contact-form.component.scss";
@import "../../project-html/project-html.component.scss";
@import "main";
a {
  &:hover {
    text-decoration: underline;
  }
}
.info-project {
  @include for-size(ll) {
    width: 90%;
    margin: 0 auto;
  }
  @include for-size(md) {
    position: relative;
    z-index: 300;
  }
  .project-left,
  .project-right {
    @include for-size(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .space {
    background-color: transparent;
    height: 0;

    @include for-size(xs) {
      width: 100%;
      margin: 0;
    }
  }
  .project-video {
    animation: topToBot 1s;
    height: 400px;
    @keyframes topToBot {
      from {
        opacity: 0;
        transform: translateY(-50px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
        box-shadow: none;
      }
    }
    @include for-size(lg) {
      height: 350px;
    }
    @include for-size(xs) {
      height: 300px;
    }
  }
  .info-iconHead {
    i {
      color: rgba(0, 0, 0, 0.6);
    }
    span {
      color: rgba(0, 0, 0, 0.8);
      font-weight: 600;
      font-size: 15px;
    }
  }
  .info-section {
    padding: 30px 0;
    color: var(--color);
    font-weight: 500;
    font-size: 30px;
  }
  .project-time,
  .func-name {
    color: white;
    background-color: var(--color);
    padding: 5px 10px;
    border-radius: 3px;
  }
  .info-func {
    i {
      font-size: 8px;
      color:var(--color);
    }
  }
  h4 {
    color: var(--color);
    font-weight: 600;
  }
  .updating {
    color: rgba(0, 0, 0, 0.6);
  }
  .iconFoot {
    background-color: var(--color);
    padding: 15px 0;
    a {
      color: white;

      &:hover {
        text-decoration: none;
      }
    }
    .social-item {
      width: 50px;
      margin: 0 30px;
      text-align: center;
      transition: all 0.5s;
      border-radius: 50%;
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    i {
      font-size: 25px;
      line-height: 50px;
      display: block;
    }
  }
  .comment-content {
    .name-comment {
      color: var(--color);
      font-weight: 600;
      align-self: center;
    }
    .mess-comment {
      font-weight: 600;
      font-size: 15px;
    }
    hr {
      padding: 0;
      margin: 5px 0;
    }
  }

  .project-right {
    animation: botToTop 1s;
    @keyframes botToTop {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0px);
      }
    }
    .project-hover {
      transition: all 0.5s;
      &:hover,
      &:focus-within {
        transform: translateY(-10px);
        box-shadow: var(--color) 0px 0px 3px 0px;
      }
    }
    .project-avatar {
      position: relative;
      @include for-size(sm) {
        display: none;
      }
      .img-project {
        clip-path: polygon(0px 0px, 100% 0%, 100% 80%, 0% 100%);
      }
      .img-avatar {
        position: absolute;
        bottom: 25px;
        right: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: white 2px solid;
        background-color: rgb(0, 0, 0);
        overflow: hidden;
      }
    }
    li {
      font-size: 15px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.6);

      span {
        transition: all 0.3s;
        &:hover {
          color: var(--color);
          cursor: pointer;
        }
      }
    }
  }
}

//star
.modal-star {
  margin-bottom: 10px;
  .rating-star {
    cursor: pointer;
    display: inline-flex;
    flex-direction: row-reverse;
  }
  .rating-star input {
    display: none;
  }
  .rating-star label,
  .rating-star label.half {
    padding: 0 5px;
  }
  .rating-star label.half {
    width: 25px;
    overflow: hidden;
    position: relative;
    margin-right: -25px;
  }
  .rating-star input:checked ~ label {
    text-shadow: 0px 0 10px rgba(255, 157, 180, 0.28);
    color: var(--color);
  }
  .rating-star:not(:checked) > label:hover,
  .rating-star:not(:checked) > label:hover ~ label {
    color: var(--color);
  }
  i {
    font-size: 25px;
  }
}
