<div class=" info-project pb-5 text-center" appTheme>
    <ul class="project_xs d-lg-none d-flex  mt-sm-4 mt-1 mb-sm-5 mb-3 ">
        <li [ngClass]='{"space":titleItem == " "}' *ngFor='let titleItem of arrayTitle;let index = index' 
        class="wow fadeInRight" [attr.data-wow-delay]="'.'+ index +'s'">{{titleItem | uppercase}}</li>

    </ul>
    <div class="d-none d-lg-flex box-project">
        <span>{{projectInfo.title}}</span>
    </div>
    <div class=" row">
        <div class="pl-0 col-12 col-md-8 project-left ">
            <div class="content">
                <div *ngIf="projectInfo.youtube;else projectImg" class="project-video wow fadeIn">
                    <iframe width="100%" height="100%" [src]="projectInfo.youtube | safeUrl" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <ng-template #projectImg>
                    <img style="height:'500px'" class=" wow fadeIn" [src]="projectInfo.img" alt="">
                </ng-template>
                <div class=" wow fadeIn info-iconHead d-flex justify-content-center m-3">
                    <a href="project/{{projectInfo.code}}#comment" class="info-iconItem mx-3">
                        <i class="fas fa-comments mx-2"></i>
                        <span>{{commentArray.length}}</span>

                    </a>
                    <div class="info-iconItem mx-3">
                        <i class="fas fa-user mx-2"></i>
                        <span>By Luong Pham</span>
                    </div>
                </div>

                <div class="info-about mt-2 px-3  wow fadeIn">
                    <div class=" info-section text-md-left my-2">
                        <span class=" content p-2">Project Infomation</span>
                    </div>
                    <div class="info-about-content " data-wow-delay=".1s">
                        <div class="info-use row mt-2 mb-3">
                            <div class=" col-12 text-center"><strong class="project-time">{{projectInfo.time}}</strong> </div>
                        </div>
                        <div class=" info-title row  mt-2  ">
                            <strong class="col-4 text-right">Project Name</strong>
                            <span class="col-8 text-left"> {{projectInfo.title}}</span>
                        </div>
                        <div *ngIf='projectInfo.link' class=" info-title row  mt-2  ">
                            <strong class="col-4 text-right">Link website</strong>
                            <a [href]='projectInfo.link ' target="_blank" class="col-8 text-left"> {{projectInfo.link}}</a>
                        </div>
                        <div class="info-fw row mt-2">
                            <strong class="col-4 text-right">Project Framework</strong>
                            <span class="col-8 text-left">{{projectInfo.fw}}</span>
                        </div>
                        <div class="info-des row mt-2">
                            <strong class="col-4 text-right">Project Describe</strong>
                            <span class="col-8 text-left"> {{projectInfo.des}}</span>
                        </div>
                        <div class="info-fw row mt-2">
                            <strong class="col-4 text-right">Member</strong>
                            <span class="col-8 text-left">{{projectInfo.member}}</span>
                        </div>
                        <div class="info-fw row mt-2">
                            <strong class="col-4 text-right">Position</strong>
                            <span class="col-8 text-left">{{projectInfo.position}}</span>
                        </div>
                        <div class="info-fw row mt-2">
                            <strong class="col-4 text-right">Role</strong>
                            <span class="col-8 text-left">
                                <li *ngFor="let item of projectInfo.role">{{item}}</li>
                            </span>
                        </div>
                        
                        <div class="info-use row mt-2">
                            <strong class="col-4 text-right"> Technology</strong>
                            <span class="col-8 text-left"> {{projectInfo.use}}</span>
                        </div>
                        
                    </div>
                </div>

                <div class="info-func mt-2 px-3 ">
                    <div class="info-section text-md-right my-2 wow fadeIn">
                        <span class=" content p-2">Project Functions</span>
                    </div>
                    <ng-container *ngIf="projectInfo.funcs;else updating  ">
                        <div class="func-item row mb-2 wow fadeIn" *ngFor="let funcItem of projectInfo.funcs">
                            <strong *ngIf='funcItem.name' class="col-12 text-md-left my-2"><span class="func-name ">{{funcItem.name}}</span></strong>
                            <div class=" func-des  col-12 text-left">
                                <li *ngFor='let item of funcItem.desFunc' class="my-1 row">
                                    <strong  class="col-4 text-right">{{item.name}}</strong>
                                    <div class="col-8 text-left">{{item.use}}</div>
                                </li>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #updating>
                        <div class="func-item mb-2 wow fadeIn ">
                            <h1 class="text-center updating">Updating .... </h1>
                        </div>
                    </ng-template>

                </div>
                <div class="info-comment p-5" id="comment">
                    <h4 class="mb-4">COMMENT</h4>
                    <form [formGroup]="formComment" (ngSubmit)="comment(formComment.value)" class="p-5 content ">
                        <div class="modal-star">
                            <div class="rating-star">
                                <input id="star10" name="rating" type="radio" value="10" />
                                <label (click)="setStar(10)" for="star10" title="Tuyệt Vời"> <i
                                        class=" star-item fas fa-star"></i></label>
                                <input id="star9" name="rating" type="radio" value="9" />
                                <label (click)="setStar(9)" for="star9" class="half"><i
                                        class="fas fa-star-half"></i></label>
                                <input id="star8" name="rating" type="radio" value="8" />
                                <label (click)="setStar(8)" for="star8" title="Phim Hay"> <i
                                        class=" star-item fas fa-star"></i></label>
                                <input id="star7" name="rating" type="radio" value="7" />
                                <label (click)="setStar(7)" for="star7" class="half"><i
                                        class="fas fa-star-half"></i></label>
                                <input id="star6" name="rating" type="radio" value="6" />
                                <label (click)="setStar(6)" for="star6" title="Tạm Được"> <i
                                        class=" star-item fas fa-star"></i></label>
                                <input id="star5" name="rating" type="radio" value="5" />
                                <label (click)="setStar(5)" for="star5" class="half"><i
                                        class="fas fa-star-half"></i></label>
                                <input id="star4" name="rating" type="radio" value="4" />
                                <label (click)="setStar(4)" for="star4" title="Không Hay"> <i
                                        class=" star-item fas fa-star"></i></label>
                                <input id="star3" name="rating" type="radio" value="3" />
                                <label (click)="setStar(3)" for="star3" class="half"><i
                                        class="fas fa-star-half"></i></label>
                                <input id="star2" name="rating" type="radio" value="2" />
                                <label (click)="setStar(2)" for="star2" title="Dở Tệ"> <i
                                        class=" star-item fas fa-star"></i></label>
                                <input id="star1" name="rating" type="radio" value="1" />
                                <label (click)="setStar(1)" for="star1" class="half"><i
                                        class="fas fa-star-half"></i></label>
                            </div>
                        </div>
                        <div class="input-field used">
                            <input class="contact-name" type="text" name="name" formControlName='name'>
                            <span class="line"></span>
                            <label>Name</label>
                            <div *ngIf="formComment.get('name').invalid 
                            && (formComment.get('name').dirty ||formComment.get('name').touched) ">
                                <div *ngIf="formComment.get('name').errors['required']" class="small text-danger m-1">
                                    * Name is required.
                                </div>
                            </div>
                        </div>
                        <div class="input-field">
                            <textarea class="contact-message" rows="4" name="message" formControlName='mess'></textarea>
                            <span class="line"></span>
                            <label>Message</label>
                            <div *ngIf="formComment.get('mess').invalid 
                            && (formComment.get('mess').dirty ||formComment.get('mess').touched) ">
                                <div *ngIf="formComment.get('mess').errors['required']" class="small text-danger ">
                                    * Message is required.
                                </div>
                            </div>
                        </div>
                        <span class="btn-outer btn-primary-outer ripple">
                            <input class="contact-submit" type="submit" value="Send">
                        </span>
                    </form>
                    <div class="comment-content text-left">
                        <div *ngFor="let commentItem of commentArray;let index = index"
                            [ngClass]="{'fadeIn':index == 0}" class="wow  my-3 p-2 content comment-item">
                            <div class="comment-head d-flex">
                                <div class="name-comment ">
                                    <p>{{commentItem.name}}</p>
                                </div>
                                <div class="rate-comment ml-auto">
                                    <app-project-item-rate [star]=commentItem.star></app-project-item-rate>
                                </div>
                            </div>
                            <hr>
                            <div class="mess-comment">
                                <p>{{commentItem.mess}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="iconFoot d-flex justify-content-center">
                    <li class="social-item">
                        <a target="_blank" href="https://www.facebook.com/ku.mit.50">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a target="_blank" href="https://twitter.com/PhmQUangLng2">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a target="_blank" [href]="projectInfo.git">
                            <i class="fab fa-github-alt"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a target="_blank" href="https://www.linkedin.com/in/l%C6%B0%C6%A1ng-ph%E1%BA%A1m-3067ab1ba/">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a target="_blank" href="https://www.instagram.com/blackjack1002/">
                            <i class="fab fa-instagram-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class=" col-md-4 col-12 project-right  ">
            <div class=" content project-avatar project-hover wow fadeIn" data-wow-delay="0">
                <div class="img-project">
                    <img [src]="projectInfo.img" alt="">
                </div>
                <div class="img-avatar">
                    <img src="assets/img/avatar.jpg" alt="">
                </div>
            </div>
            <div class="content p-4 my-4 project-hover wow fadeIn " data-wow-delay=".2s">
                <h4 class="mb-4">PROJECT LIST</h4>
                <ul class="project-list">
                    <li *ngFor="let listItem of projectList" class="list-item pb-3">
                        <span (click)="changeRouter(listItem.code)"> {{listItem.title}}</span>
                    </li>
                </ul>
            </div>
            <div class="content p-4 my-4 project-hover wow fadeIn " data-wow-delay=".4s">
                <h4 class="mb-4">CONTACT ME</h4>
                <app-contact-form></app-contact-form>
            </div>
        </div>
    </div>
</div>
<notifier-container></notifier-container>