<div class="hobby section  fadeIn wow">
    <h1 class="section-heading ">My Hobbies</h1>
    <div class="hobby-content content " >
        <div class="hobby-intro">
            <p>I have a keen interest in sports,especially football. I was player
                of football team during my time at university and high school. </p>
            <p>I also love music.I have been playing guitar for 8 years. </p>
        </div>
        <div class="hobby-icon mt-4 mb-2 d-flex justify-content-center">
            <div class="hobby-item">
                <i class="far fa-futbol"></i>
                <span>Football</span>
            </div>
            <div class="hobby-item " >
                <i class="fas fa-file-code"></i>
                <span>Coding</span>
            </div>
            <div class="hobby-item " >
                <i class="fas fa-headphones"></i>
                <span>Music</span>
            </div>
            <div class="hobby-item ">
                <i class="fas fa-guitar"></i>
                <span>Guitar</span>
            </div>
            <div class="hobby-item " >
                <i class="fas fa-gamepad"></i>
                <span>Game</span>
            </div>
            <div class="hobby-item ">
                <i class="fas fa-swimmer"></i>
                <span>Swim</span>
            </div>

            <div class="hobby-item " >
                <i class="fas fa-running"></i>
                <span>Running</span>
            </div>





        </div>
    </div>
</div>