<div class="exp-edu text-center ">
    <div class="d-flex justify-content-center">
        <h1 (click)='content = "exp"' [ngClass]="{'active':content == 'exp'}" class="section-heading px-3 active">Experiences</h1>
        <h1 (click)='content = "edu"' [ngClass]="{'active':content == 'edu'}" class="section-heading px-3">Education</h1>
    </div>
    <div class="time-line ">
        <div *ngIf="content == 'exp'"  class="entries exp show">
            <div *ngFor="let expItem of exp.reverse()" class="entry">
                <div class="title big">{{expItem.year}}</div>
                <div class="position my-2">{{expItem.position}} - {{expItem.company}}</div>
                <div class="body des">
                    <p>{{expItem.des}}</p>
                </div>
            </div>
        </div>
        <div *ngIf="content == 'edu'"  class="entries edu show">
            <div *ngFor="let eduItem of edu.reverse()" class="entry">
                <div class="title big">{{eduItem.year}}</div>
                <div class="position my-2">{{eduItem.position}} - {{eduItem.school}}</div>
                <div class="body des">
                    <p>{{eduItem.major}}</p>
                </div>
            </div>
        </div>
    </div>