@import "main";
.profile-background {
  padding-top: 60px;
  position: relative;
  z-index: 100;
  @include for-size(md) {
    padding-top: $pad-mar8;
    margin-top: 0;
  }

  // &.slider2{
  //   padding-top: 170px;
  // }
}
.profile {
  margin: 0 auto;
}
.profile-box {
  font-family: "Grandstander", cursive;
  .profile-content {
    padding: $pad-mar8;
    @include for-size(md) {
      padding: $pad-mar6;
    }
    @include for-size(xs) {
      padding: $pad-mar2;
    }
    .profile-top {
      padding-bottom: $pad-mar6;
      margin-bottom: $pad-mar6;
      border-bottom: 1px solid #dedede;
      @include for-size(lg) {
        padding-bottom: $pad-mar5;
        margin-bottom: $pad-mar5;
      }
    }
    .box-hello {
      font-family: "Open Sans", sans-serif;
      margin-bottom: $pad-mar6;
      @include for-size(xs) {
        margin: $pad-mar4 0;
      }
      span {
        padding: 5px 10px;
        background-color: var(--color);
        position: relative;
        color: #fff;
        font-size: $font-size1;
        font-weight: 700;
        &:before {
          content: "";
          width: 0;
          height: 0;
          top: 100%;
          right: 15px;
          position: absolute;
          border-style: solid;
          border-width: 5px 5px 0 5px;
          border-color: var(--color) transparent transparent transparent;
        }
      }
    }
    .profile-name {
      color: rgba(0, 0, 0, 0.8);
      margin-top: $pad-mar3;
      color: #3d4451;
      h1 {
        font-weight: 550;
        @include for-size(lg) {
          font-size: 35px;
        }
        @include for-size(xs) {
          font-size: $font-size6;
        }
      }
      span {
        font-weight: 300;
        color: rgba(0, 0, 0, 0.6);
      }
      p {
        font-size: $font-size3;
        font-weight: 500;
      }
    }
    .item-profile {
      margin-top: $pad-mar2;
      margin-bottom: $pad-mar2;
      p{
        word-wrap: break-word;
      }
    }
  }
  .profile-social {
    background-color: var(--background);
    padding: $pad-mar3 0;
    a {
      color: white;

      &:hover {
        text-decoration: none;
      }
    }
    .social-item {
      margin: 0 30px;
      text-align: center;
      transition: all 0.5s;
      border-radius: 50%;
      @include w-h(50px, null, null, 50px);
      @include for-size(xs) {
        @include w-h(40px,null, null, 40px);
        margin: 0 $pad-mar4;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    i {
      line-height: 50px;
      font-size: $font-size5;
      display: block;
      @include for-size(xs) {
        line-height: 40px;
        font-size: $font-size4;
      }
    }
  }
}
.profile-about {
  text-align: center;

  .btn-download {
    padding: $pad-mar7;
    span {
      cursor: pointer;
      font-weight: 700;
      padding: $pad-mar3 $pad-mar4;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      transition: all 0.5s;
      color: rgba(0, 0, 0, 0.6);
      &:hover {
        color: black;

        background: white;
        box-shadow: $boxShadow;
      }
    }
  }
  .about-content {
    letter-spacing: 1px;
    font-size: $font-size3;
    .title{
      color: var(--color);
      font-weight: 600;
    }
  }
}
