<div class="project">
    <h1 class="section-heading">Projects</h1>
    <div class="project-content ">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor='let projectItem of projects;let index = index' class="slide">
                <div class="project-item m-3">
                    <div class="project-img">
                        <img src="../../../assets/img/booking.jpg" alt="">
                    </div>
                    <div class="project-body">
                        <div class="body-top">
                            <p class="title pt-1 px-4">{{projectItem.title}}</p>
                            <p class="fw p-1">{{projectItem.fw}}</p>
                        </div>
                        <div class="icon  d-flex justify-content-center p-2">
                            <div class="icon-left">
                                <i class="fab mx-1 fa-github-alt"></i>
                                <i class="fab mx-1 fa-youtube"></i>
                            </div>
                            <div class="arrow ml-auto mx-1">
                                <i [ngClass]='{"show":isShowDes && index == indexProject}' (click)="showDes(index)"
                                    class="fas fa-chevron-down" data-toggle="collapse"
                                    [attr.data-target]="'#'+index"></i>
                            </div>
                        </div>
                        <div 
                             class="body-footer text-left  pb-2 collapse"
                            [id]="index">
                            <p class="des">{{projectItem.des}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</div>