@import 'main';
.project {
  text-align: center;
  .project-content {
    padding: $pad-mar6;
    padding-top: 0;
  }
  
}
//slick
::ng-deep .slick-arrow::before {
  font-size: $font-size7;
  color: var(--color);
}
::ng-deep .slick-prev {
  left: -50px;
  @include for-size(sm){
    left: -45px;
  }
}
