<div class="project section fadeIn wow " id="project" >
    <h1 class="section-heading ">Projects</h1>
    <div class="project-content  "  data-wow-delay=".5s">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor='let projectItem of projects;let index = index' class="slide">
               <app-project-item [projectItem]=projectItem [index]=index></app-project-item>
            </div>
        </ngx-slick-carousel>
    </div>
</div>