<div class=" my-project fadeInUp wow text-center" appTheme>
    <ul class="project_xs d-flex d-lg-none mt-4 mb-5">
        <li class="wow fadeInRight" data-wow-delay="0s">P</li>
        <li class="wow fadeInRight" data-wow-delay="0.1s">R</li>
        <li class="wow fadeInRight" data-wow-delay=".2s">O</li>
        <li class="wow fadeInRight" data-wow-delay="0.3s">J</li>
        <li class="wow fadeInRight" data-wow-delay="0.4s">E</li>
        <li class="wow fadeInRight" data-wow-delay="0.5s">C</li>
        <li class="wow fadeInRight" data-wow-delay="0.6s">T</li>
    </ul>
    <div class=" d-none d-lg-flex box-project">
        <span>PROJECT</span>
    </div>
    <div class="  row">
        <div class=" col-lg-8 col-12 project-left" [ngClass]="{'show-full':isShowFull}">
            <div class=" content py-4 px-2 row">
                <ng-container *ngFor='let projectItem of projects;let index = index'>
                    <div class="  col-sm-6 col-12 p-3">
                        <app-project-item class="" [index]=index [projectItem]=projectItem>
                        </app-project-item>
                    </div>
                </ng-container>
            </div>
            <div *ngIf="!isShowFull" class="box-shadow"></div>
        </div>
        <div class="d-sm-none mt-3 btn-showMore">
            <span *ngIf="!isShowFull" (click)="isShowFull = true">Show More ...</span>
            <span *ngIf="isShowFull" (click)="isShowFull = false">Hide Less ...</span>
        </div>
        <div class="wow  col-lg-4 col-12 project-right">
            <div class=" content p-4">
                <h4 class="mb-4">CONTACT ME</h4>
                <app-contact-form></app-contact-form>
            </div>
        </div>
    </div>
</div>