@import "main";
h1 {
  text-align: center;
}
.contact-right {
  @include for-size(sm) {
    margin-top: $pad-mar6;
  }
}
.content {
  padding: $pad-mar8;
  max-height: 550px;
  position: relative;
  overflow: hidden;
  @include for-size(md) {
    padding: $pad-mar6;
  }
  .contact-list {
    strong {
      font-size: $font-size4;
      width: 80px;
      display: inline-block;
      line-height: 40px;
      @include for-size(md) {
        width: 30px;
      }
    }
    span {
      letter-spacing: 1px;
    }
  }
}
h3 {
  font-size: $pad-mar5;
  margin: 0 0 $pad-mar6;
}
.map {
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
}
