<div class="contact section" id="contact">
    <h1 class="section-heading">Contact Me</h1>
    <div class="contact-content row">
        <div class="col-6 px-3 contact-left section-box contact-form">
            <div class="content" style="min-height: 550px;">
                <h3>Feel free to contact me</h3>
                <app-contact-form></app-contact-form>
            </div>

        </div>
        <div class="col-6 px-3 contact-right section-box contact-info has-map">
            <div class="content" style="min-height: 550px;">
                <ul class="contact-list">
                    <li class="">
                        <strong><i class="fas fa-map-pin"></i></strong>
                        <span>Phuoc Long B W, 9 D, Ho Chi Minh City</span>
                    </li>
                    <li class="">
                        <strong><i class="fas fa-phone"></i></strong>
                        <span><a href="tel:+84334068547">+(84) 334 068 547</a></span>
                    </li>
                    <li class="">
                        <strong><i class="fas fa-envelope"></i></strong>
                        <span><a href="mailto:davidpham1003@gmail.com">davidpham1003@gmail.com</a></span>
                    </li>
                    <div class="map mt-4">
                        <div class="mapouter">
                            <div class="gmap_canvas"><iframe width="100%" height="320" id="gmap_canvas"
                                    src="https://maps.google.com/maps?q=247%20lien%20phuong&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                    href="https://torrent9-fr.com"></a></div>
                           
                        </div>
                    </div>
                </ul>
            </div>


        </div>
    </div>
</div>
<notifier-container></notifier-container>