h1 {
  text-align: center;
}
.contact-left,
.contact-right {
}
.content {
  padding: 50px;
  max-height:550px;
}
h3 {
  font-size: 24px;
  margin: 0 0 30px;
}

.contact-list {
  strong {
    font-size: 20px;
    width: 80px;
    display: inline-block;
    line-height: 40px;
  }
  span {
    letter-spacing: 1px;
  }
}
#map {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
