// Max Width
$width-xl: 1460px;
$width-ll: 1160px;
$width-lg: 960px;
$width-md: 760px;
$width-sm: 560px;
$width-xs: 460px;           
$width-phone: 340px;

//Height
$height-header:76px;

// Padding - Margin
$pad-mar1: 5px;
$pad-mar2: 10px;
$pad-mar3: 15px;
$pad-mar4: 20px;
$pad-mar5: 25px;
$pad-mar6: 30px;
$pad-mar7: 40px;
$pad-mar8: 50px;
$pad-marHeading:80px;

//Font-size
$font-size1: 12px;
$font-size2: 15px;
$font-size3: 18px;
$font-size4: 20px;
$font-size5: 25px;
$font-size6: 30px;
$font-size7: 40px;

//Color Light

//Boxshadow
$boxShadow : rgba(0, 0, 0, 0.2) 0 3px 10px 2px;
